        <form  action="/signin" method="POST">
            
                    <div>
                        <h3>Inicia Sesion</h3>
                    </div>
                    
                    <div>

                    <div >
                        <input type="email" name="mail" class="form-control" placeholder="Usuario" autofocus>
                    </div>

                    <div>
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div>
                        <button class="forma" type="submit">
                            Ingresar
                        </button>
                    </div>
                </div>
        </form>